/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
/*Colors*/

/* Overall styling*/

html,body{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    border: 0;
    outline: 0;
  }
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    
}

/* Header*/

.header{
    width:100%;
    height:90vh;
    margin:0;
    padding:0;
    user-select: none;
    overflow: hidden;
    position: relative
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:auto
}
.nav h1{
    padding-left: 2.5vw;
    font-family: 'Kaushan Script';
    font-size: calc(26px + 1vw);
    color:	#003063;
    background-color: transparent;
    flex-grow: 5;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    user-select: none
    
}
.logo{
    padding-left: 2.5vw;
    background-color: transparent;
    flex-grow: 5;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-right: 56vw;
    margin-top:10px;
    user-select: none;
    max-width:60px;
    height:60px;
    
}
.nav button {
    font-family: 'Kaushan Script';
    text-decoration: none;
    font-size: calc(24px + 1vw);
    color:#003063;
    margin-Top:10;
    font-weight: bold;
    margin-right: 1em;
    background-color: transparent;
    user-select: none;
    
}
.nav button:hover {
    font-size: calc(40px);
    color:#b28bc0;
}
.nav nav{
    margin-right: 0;
   flex-grow: 1;
    z-index: 10;
}
.sun{
    position: absolute;
    width:300px;
    height:300px;
    right:100px;
    top:20px;
    z-index: 5;
    background-color: #FD5E53;
    border-radius: 150px;
}
.birds{
    position: absolute;
    width:100%;
    height:90vh;
    top:0;
    z-index: 6;
}
.wave{
    position: absolute;
    bottom:-10px;
}

/* Body Content */

.content{
    margin:0;
    padding-top:50px;
    overflow: hidden;
    
}
.content h2{
    padding-left: 2.5vw;
    font-family: 'Kaushan Script';
    font-weight: bold;
    line-height: 2em;
    font-size: calc(24px + 1vw);
    color:#fff;
    background-color: transparent;
    margin-bottom: 2vw;
    letter-spacing: 0.1em;
}
.aboutCard p{
    margin-bottom: 5vw;
    margin:auto;
    font-family: 'Cabin';
    line-height: 1.5em;
    font-size: calc(12px + 1vw);;
    color:#fff;
    background-color: transparent;
}

.about{
    display:flex;
    flex-direction:row;
}
.me{
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    width:1vw;
    margin-left:2.5vw;
    margin-right:2.5vw;
    border-radius: 1vw;
    flex:1;
}
.aboutTitle{
    padding-top: 50px;
}
.aboutCard{
    flex:3;
    background-color: #003063;
    margin-right:2.5vw;
    padding:20px;
    border-radius: 1vw;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}
.skillsContainer{
    padding-top: 5vw
}
.skills{
    font-size: calc(10x + 1vw) !important;
}
.content a{
    font-family: 'Cabin';
    line-height: 1.5em;
    font-size: calc(12px + 1vw);
    color:#fff;
    background-color: transparent;
    text-decoration: none;
}
.content a:hover{
    text-align: center;
    text-decoration: underline;
}
.special{
    text-align: center;
    font-family: 'Kaushan Script';
    letter-spacing: 0.185em;
    line-height: 2em;
    color:#f4afc2 !important
}
.center{
    margin-top: 50px;
    text-align: center;
    font-size: calc(12px + 1vw);
    color:#fff;
    margin:auto;
    font-family: 'Cabin';
    line-height: 1.5em;
}
.icon-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-right: 10vw;
    width: 100%;
}
.credits{
    text-align:center;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
/* Projects*/
.projectsMobile{
    display: none;
}
.projectContainer{
    justify-content:center;
    align-items:center;
}
.projects{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}
.img{
   width:27vw;
   height: 27vw;
}
.desc{
    width: 25vw;
    font-size: calc(8px + 1vw);
    padding-left: 1vw;
    padding-right: 1vw;
    font-family: 'Cabin';
    line-height: 1.5em;
    color:#fff;
    background-color: transparent;
    position: relative;
    
    padding-bottom: 20px;
}
.overlay{
    position: absolute;
    width:27vw;
    height:20vw;
    background-color: transparent;
    border-radius: calc(12px + 1vw);
    opacity: 0;
}
.overlay:hover{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 1;
}
.projectImg{
    background-color: #fff;
    width: 27vw;
    height: 20vw;
    border-radius: calc(12px + 1vw);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}
.descCard{
    background-color: #003063;
    margin-top: 20px;
    width: 27vw;
    min-height: calc(290px + 5vw);
    border-radius: calc(12px + 1vw);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    position: relative;
}
.title{
    line-height: 2em;
    font-size: calc(24px + 1vw);
    color:#f4afc2;
    font-family: 'Kaushan Script';
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.icons{
    position: absolute;
    bottom: 5px;
    right:20px;
}
.external{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    vertical-align: bottom
   
}




/*-----------------------------------------------------------------------------------------------------*/
/* Media Queries*/

@media screen and (max-width: 600px) {

    /*Header*/
    .header{
        width:100%;
        height:90vh;
        margin:0;
        padding:0;
        user-select: none;
        overflow: hidden;
        position: relative
    }
    .nav h1{
        font-size: 20px;
    }
    .nav button {
        font-family: 'Kaushan Script';
        text-decoration: none;
        font-size: calc(20px + 1vw);
        color:#003063;
        margin-Top:10;
        font-weight: bold;
        margin-right: 1em;
        background-color: transparent;
        user-select: none;
        letter-spacing: 0.1em;
    }
    .nav button:hover {
        font-size: calc(20px + 1vw);
        color:#b28bc0;
    }
    .sun{
        position: absolute;
        width:150px;
        height:150px;
        right:50px;
        top:20px;
        z-index: 5;
        background-color: #FD5E53;
        border-radius: 75px;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
    .birds{
        position: absolute;
        width:100%;
        height:90vh;
        top:0;
        z-index: 6;
    }
    .wave{
        position: absolute;
       
    }

    /* Body Content */

.content{
    margin:0;
    padding-top:50px;
    overflow: hidden;
    
}
.content h2{
    width: 90vw;
    margin:auto;
    font-family: 'Kaushan Script';
    font-weight: bold;
    line-height: 2em;
    font-size: calc(24px + 1vw);
    color:#fff;
    background-color: transparent;
    margin-bottom: 2vw;
    letter-spacing: 0.1em;
    text-align: center;
}
.about{
    flex-direction:column;
}
.aboutTitle{
    padding-top: 0px;
}
.aboutCard p{
    margin-bottom: 1vw;
    padding:20px;
    font-family: 'Cabin';
    line-height: 1.5em;
    font-size: calc(14px + 1vw);
    color:#fff;
    background-color: transparent;
}
.me{
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    margin:auto;
    border-radius: 2vw;
    display: block;
    width: 80vw;
    margin-bottom:20px;
}
.aboutCard{
    width: 80vw;
    background-color: #003063;
    margin:auto;
    padding:0;
    border-radius: 2vw;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}
.skillsContainer{
    padding-top: 10px;
    padding-bottom:10px;
}
.skillsContainer p{
    font-size: calc(12px + 1vw);
    padding-left:20;
    padding-right:20;
    padding-top: 0;
    padding-bottom:0;
    
}
.content a{
    font-family: 'Cabin';
    line-height: 1.5em;
    font-size: calc(12px + 1vw);
    color:#fff;
    background-color: transparent;
    text-decoration: none;
}
.content a:hover{
    text-align: center;
    text-decoration: underline;
}
.special{
    text-align: center;
    font-family: 'Kaushan Script';
    letter-spacing: 0.185em;
    line-height: 2em;
    color:#f4afc2 !important
}
.center{
    margin-top: 50px;
    text-align: center;
    font-size: calc(12px + 1vw);
    color:#fff;
    margin:auto;
    font-family: 'Cabin';
    line-height: 1.5em;
}
.icon-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-right: 10vw;
    width: 100%;
}
.credits{
    text-align:center;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

/*Projects*/
.projectsMobile{
    display: block;
}
.projects{display: none !important;}
.slider{
    width:80vw;
    margin:auto;
}
.projectContainer{
    justify-content:center;
    align-items:center;
    width: 80vw;
}
.projects{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}
.img{
   width:80vw;
   min-height: calc(250px + 5vw);
}
.desc{
    width:76vw;
    font-size: calc(14px + 1vw);
    margin:auto;
    font-family: 'Cabin';
    line-height: 1.5em;
    color:#fff;
    background-color: transparent;
    position: relative;
    padding-bottom: 20px;
}
.overlay{
    position: absolute;
    width:80vw;
    min-height: calc(250px + 5vw);
    background-color: transparent;
    border-radius: calc(12px + 1vw);
    opacity: 0;
}
.overlay:hover{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 1;
}
.projectImg{
    background-color: #fff;
    width: 80vw;
    min-height: calc(250px + 5vw);
    border-radius: calc(12px + 1vw);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.descCard{
    background-color: #003063;
    margin-top: 20px;
    width: 80vw;
    min-height: calc(200px + 5vw);
    border-radius: calc(12px + 1vw);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    position: relative;
}
.title{
    line-height: 2em;
    font-size: calc(14px + 1vw);
    color:#f4afc2;
    font-family: 'Kaushan Script';
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.icons{
    position: absolute;
    bottom: 5px;
    right:20px;
}
.external{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    vertical-align: bottom
   
}






}

/* Animations */

.turt {
    position: absolute;
    animation: turtleSwim 20s infinite;
    animation-timing-function: linear;
  }
  
  @keyframes turtleSwim {
    0% {
        right: 0vw;
        opacity: 0;
    }
    25% {
        right: 40vw;
        opacity: 1;
       
    }
    50% {
        right: 70vw;
        opacity: 1;
      
    }
    75% {
        right: 100vw;
        opacity: 0;
      
    }
  }